.jumbotron {
    font-family: Shrikhand, cursive;
    color: white;
    background-color: #1da1f2;
    background-image: url("https://images.pexels.com/photos/1645634/pexels-photo-1645634.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   
   }
   
   .btn {
    font-family: Shrikhand, cursive;
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
   
   }
   
   .leftButton {
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
    position: relative;
   
   }
   
.dash-img {
    width: 250px;
    height: 100px;
}

   /*
   .midlleButton {
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
   
   }
   
   .rightButton {
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
   
   } */