<div class="jumbotron jumbo-head text-center align-middle">
    <span>
        <a class="btn dashReturn" href="/dashboard">DASHBOARD</a>

        <span class="titleSpan">MyClientSync</span>
        <span class="btn logOut">Log Out</span>
    </span>
</div>